Sitelist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ImageRipper">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="List">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Site">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Domain" type="xs:string" use="required" />
                  <xs:attribute name="Image" type="xs:string" use="required" />
                  <xs:attribute name="Next" type="xs:string" use="optional" />
                  <xs:attribute name="Type" type="xs:string" use="optional" />
                  <xs:attribute name="Screen" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>